<%
  die1 = rand(1..6)
  die2 = rand(1..6)
  total = die1 + die2
%>

<h2>Dice Roll</h2>

<p>
  <%= image_tag "dice/#{die1}.svg", alt: "Die 1", width: 100 %>
  <%= image_tag "dice/#{die2}.svg", alt: "Die 2", width: 100 %>
</p>

<p>
  Die 1: <%= die1%>
  <!--<img src="/images/dice/<%= die1 %>.svg">-->
</p>
<p>
  Die 2: <%= die2%>
</p>

<p><strong>The total is <%= total %></strong></p>

<%= link_to "🎲 Roll again", request.path %>
<a href="/dice">Roll again (round 2)</a>


