<%
  die1 = rand(1..6)
  die2 = rand(1..6)
  total = die1 + die2
%>

<div class="casino-page">
  <div class="casino-marquee">Dice Roll</div>

  <div class="casino-card">
    <div class="casino-dice">
      <div class="casino-die">
        <%= image_tag "dice/#{die1}.svg", alt: "Die 1", width: 120, height: 120 %>
        <div class="casino-die-label">Die 1: <%= die1 %></div>
      </div>
      <div class="casino-die">
        <%= image_tag "dice/#{die2}.svg", alt: "Die 2", width: 120, height: 120 %>
        <div class="casino-die-label">Die 2: <%= die2 %></div>
      </div>
    </div>

    <div class="casino-total">
      <span class="casino-total-label">Total</span>
      <span class="casino-total-value"><%= total %></span>
    </div>

    <div class="casino-actions">
      <%= link_to "Roll again", request.path, class: "casino-btn" %>
      <a href="/dice" class="casino-link">Round 2</a>
    </div>
  </div>
</div>

